<div class="container">
    <!-- Check if cart is defined -->
    @if(cart && !showEmptyPage) {
    <div class="row">
        <!-- Left column for displaying items -->
        <div class="col-lg-5">
            <!-- Loop through each item in cart -->
            @for(item of cart; track item) {
            <!-- Loop through each food item in the current item -->
            <mat-card class="m-2 p-3" appearance="outlined">
                <mat-card-header class="d-flex justify-content-between">
                    <img mat-card-avatar class="food-image" [src]="item.food.imageUrl" [alt]="item.food.name">
                    <mat-card-title class="ml-0">{{item.food.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.food.origins.join(', ')}}</mat-card-subtitle>
                    <select #quantitySelect [value]="item.quantity||1"
                        (change)="changeQuantity(item, quantitySelect.value)" class="form-select"
                        aria-label=".form-select-sm example">Qty:
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </mat-card-header>
                <!-- Food price -->
                <div class="food-price">{{item.price | currency:'INR':'symbol'}}</div>
                <!-- Remove button -->
                <mat-card-actions align="end">
                    <button mat-button class="btn btn-danger btn-sm" (click)="removeItemFromCart(item)">Remove</button>
                </mat-card-actions>
            </mat-card>
            }
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 m-2">
            <div *ngIf="cartData">
                <div class="card p-3">
                    <div class="card-body">
                        <!-- Total count of items -->
                        <h6 class="card-title mb-3">Total Items: {{ cartData.totalCount }}</h6>
                        <!-- Total price -->
                        <h5 class="card-subtitle mb-2 text-muted">Total Price: {{ cartData.totalPrice |
                            currency:'INR':'symbol' }}</h5>
                        <!-- Proceed to checkout button -->
                        <button routerLink="/checkout" class="btn btn-success">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <app-empty-page>
        notFoundMessage= "Your cart is empty!"
        resetLinkText = "Feeling hungery, Go to home page"
    </app-empty-page>
    }
</div>