<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand text-primary fw-bold fs-1" routerLink="/">foodStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                @if(!isExstingUser) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link">offers</a>
                </li>
            </ul>
            <ul class="nav m-2 d-flex justify-content-end">
                <li class="nav-item mx-3 d-flex align-items-center">
                    <a  [ngClass]="{'nav-link':userLogged,'disabled':userLogged}" class="text-decoration-none position-relative" routerLink="/cart-page">
                        Cart
                        @if (notification) {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{notification}}
                            </span>
                        }
                    </a>
                </li>
                @if(isExstingUser) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Welcome, {{UserName}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Orders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>